@font-face{
    font-family: 'lato' ;
    src: url('../fonts/Lato-Light.ttf') format('truetype');
}
body{
    margin: 0%;
    padding: 0%;
}
h1, h2, h3, p, button{
    font-family: 'lato';
}
.headerInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(247, 245, 245);
}
.headerInfo h1{
    margin: 1vw;
    font-weight: bolder;
}
.bell{
    width: 2vw;
    opacity: 30%;
    padding: 1vw;
    border-radius: 10px;
    border:1px solid gray;
}
hr{
    opacity: 50%;
    width: 36vw;
}
.hr1{
    position: relative;
    right: 26vw;
}
.hr2{
    position: relative;
    right: -24.5vw;
    top: -7.2vw;
}
.line{
    position: relative;
    font-size: 2.4vw;
    top: -4vw;
    right: -45vw;
    opacity: 70%;
}
.lineTwo{
    position: relative;
    font-size: 2.4vw;
    top: -4vw;
    right: -43vw;
    opacity: 70%;
}
@media screen and (max-width: 768px) {
    .headerInfo{
        top: -2vw;
        z-index: 3;
        position: fixed;
        width: 100%;
        background-color: rgb(240, 235, 229);
    }
    .headerInfo h1{
        margin: 2vw;
        font-weight: bolder;
    }
    .Icons{
        position: fixed;
        top: 93vh;
        display: flex;
        background-color: rgb(240, 235, 229);;
        width: 100vw;
        right: 7vw;
        padding: 1.5vw 0 1.5vw 0;
    }
    .bell{
        position: absolute;
        z-index: 5;
        right: 3vw;
        width: 6vw;
    }
    .hrBlock{
        position: relative;
        top: 20vw;
    }
    .line{
        font-size: 4vw;
        top: -7vw;
        right: -43vw;
    }
    .hr2{
        top: -12.7vw;
    }
    .lineTwo{
        font-size: 4vw;
        top: -7vw;
        right: -40vw; 
    }
    .hrBlockTwo{
        position: relative;
        margin-top: 10vw;
    }
    .iconsActions{
        position: relative;
        margin: 0 7vw 0 7vw;
    }
}
.Icons{
    position: relative;
    display: flex;
    justify-content: center;
    margin-left: -15vh;
}
.Icons img{
    padding: 1.8vw;
    width: 4vh;
    opacity: 40%;
}
.users{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.users h3{
    position: relative;
    top: -5vw;
    padding: 3%;
    font-size: 2vw;
    border-radius: 0px 0px 10px 10px;
    color: aliceblue;
    background-color: rgb(152, 145, 145);
    opacity: 90%;
}
.usersYesterday{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.usersYesterday h3{
    position: relative;
    top: -5vw;
    padding: 3%;
    font-size: 2vw;
    border-radius: 0px 0px 10px 10px;
    color: aliceblue;
    background-color: rgb(152, 145, 145);
    opacity: 90%;
}
@media screen and (max-width: 768px) {
    .users{
        display: initial;
        position: relative;
        top: 15vw;
    }
    .user{
        position: initial;
        display: inline-block;
        height: 45%;
        margin: 0% 2.5vw 0% 2.5vw;
    }
    .users h3{
        font-size: 4vw;
        top: -4vh;
        width: 43vw;
        height: 7vw;
        margin: 0%;
        padding: 0%;
    }
    .usersYesterday{
        display: initial;
        position: relative;
    }
    .usersYesterday h3{
        position: relative;
        font-size: 4vw;
        top: -4vh;
        width: 43vw;
        height: 7vw;
        margin: 0%;
        padding: 0%;
    }
}
.imgPerfil{
    width: 18vw;
    height: 23vw;
    border-radius: 15px;
}
.iconPerfil{
    position: relative;
    right: 7vw;
    top: -10vw;
    width: 2.5vw;
}
@media screen and (max-width: 768px) {
    .iconPerfil{
        width: 6vw;
        right: -35vw;
        top: -13vw;
    }
    .imgPerfil{
        width: 43vw;
        height: 52vw;
    }
}
/*INFO INFO PAGE*/
.returnIndex{
    position: relative;
    right: 50.3vw;
    top: -44vw;
    width: 4vw;
    border-radius: 10px;
    padding: 1vw;
    background-color: rgb(208, 202, 202);
}
.userInfo{
    display: flex;
    justify-content: center;
    text-align: center;
    background: rgb(255, 255, 255);
}
.sendMessage{
    display: flex;
    position: absolute;
    top: 61vw;
    right: 30vw;
    padding: 1vw;
    border-radius: 100%;
    background-color: aquamarine;
}
@media screen and (max-width: 768px) {
    .returnIndex{
        width: 7vw;
        right: 40vw;
        top: -106vw;
        padding: 2vw;
    }
    .sendMessage{
        width: 6vw;
        right: 7vw;
        top: 120vw;
        padding: 2vw;
    }
}
.personalInfo h3{
    font-size: 2.8vw;
    margin: 0%;
}
.personalInfo p {
    font-size: 1.5vw;
}
.personalInfo h4{
    margin: 0%;
    font-size: 2vw;
}
.imgInfo{
    margin-top: 2vw;
    width: 50vw;
    height: 50vw;
    border-radius: 10px;
    margin-left: 7vw;
}
.iconPerfilInfo{
    position: relative;
    padding: 1.4vw;
    border-radius: 100%;
    margin: 0 1vw 0 1vw;
    border: 1px solid gray;
    width: 2.5vw;
}
@media screen and (max-width: 768px) {
    .personalInfo{
        margin-top: -14vw;
        margin-left: 7vw;
        text-align: left;
    }
    .personalInfo h3{
        font-size: 5.2vw;
    }
    .personalInfo p{
        font-size: 3.8vw;
    }
    .personalInfo h4{
        font-size: 4.5vw;
    }
    .imgInfo{
        margin-top: 0%;
        width: 100vw;
        border-radius: 0px 0px 50px 50px;
        height: 110vw;
        margin-left: 0%;
    }
    .iconPerfilInfo{
        position: relative;
        top: -22vw;
        padding: 4vw;
        width: 6vw;
    }
    .iconPerfilInfo.like{
        position: relative;
        top: -21vw;
        width: 9vw;
    }
}
.interest{
    padding: 0.5vw 2vw 0.5vw 2vw;
    border-radius: 10px;
    border: 1px solid transparent;
    margin: 2vw;
}
.interests{
    margin-bottom: 5vw;
}
.interests h4{
    font-size: 2vw;
}
@media screen and (max-width: 768px) {
    .interests h4{
        text-align: left;
        margin-left: 7vw;
        font-size: 4.5vw;
    }
    .interest{
        display: inline-block;
        padding: 1vw 6vw 1vw 6vw;
        margin: 2vw;
    }
    .interests{
        margin-bottom: 18vw;
    }
}