body{
    background-color: rgb(35, 28, 58);
}
button{
    padding: 3% 10% 4% 10%;
    border-radius: 4px;
    border: 1px solid rgb(189, 6, 55);
    background-color: rgb(35, 28, 58);
    color: white;
}
img{
    width: 100%;
}
.site-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: end;
}
.rocketIcon{
    text-align: left;
    margin: 5% 0% 0% 6%;
}
.rocketIcon img{
    width: 4%;
}
.rocketIcon h1{
    margin-top: -5%;
    margin-left: 5%;
    font-size: 4vw;
    font-weight: lighter;
    text-decoration: none;
    color: white;
}
.navegacion{
    position: relative;
    top: -8vh;
    text-decoration: none;
    display: block;
}
.navegacion a{
    color: rgb(174, 171, 171);
    text-decoration: none;
    font-weight: lighter;
    padding: 1%;
}
.mobile-menu{
    display: none;
}

@media screen and (max-width: 768px) {
    .site-header{
        text-align: center;
        position: relative;
        right: -30vw;
    }
    .rocketIcon{
        width: 100vh;
        margin: 10% 0 8% 0;
    }
    .rocketIcon h1{
        font-size: 4vh;
    }
    .navegacion{
        display: none;
    }
    
    .mobile-menu{
        position: relative;
        right: 30%;
        display: inline-block;
        color: white;
    }
    .mobile-menu img{
        width: 8%;
        background-color: aliceblue;
    }
}
.titleContent{
    color: white;
    padding-left: 6%;
}
.titleContent h2{
    margin-top: 10%;
    font-size: 6vw;
    font-weight: 100;
}
.titleContent p{
    font-size: 1.6vw;
    margin-bottom: 8vh;
}
.site-content{
    display: flex;
}
.scheduleButton{
    background-color: rgb(213, 73, 94);
}
.site-content img{
    border-radius: 100%;
}
@media screen and (max-width: 768px) {
    button{
        font-size: 2.3vh;
    }
    .site-content{
        display: block;
    }
    .titleContent{
        text-align: center;
    }
    .titleContent p{
        font-size: 2.4vh;
    }
}
.imagesContent{
    text-align: center;
}
.background{
    z-index: 1;
    width: 90%;
    position: relative;
    right: -10%;
    top: -22%;
}
.icon{
    width: 7%;
}
.face{
    width: 12%;
}
.dialog{
    position: relative;
    top: 25%;
}
.send{
    position: relative;
    top: 44%;
    right: 23%;
}
.clock{
    position: relative;
    top: 34%;
    left: 23%;
}
.first-face{
    position: relative;
    right: -7%;
    top: 7%;
}
.second-face{
    position: relative;
    left: 42%;
    top: 5%;
    width: 18%;
}
.third-face{
    position: relative;
    right: 18%;
    top: 55%;
}
@media screen and (max-width: 768px) {
    .background{
        position: initial;
    }
    .first-face{
        position: relative;
        right: 3vh;
        top: 20vh;
    }
    .second-face{
        position: relative;
        top: 17vh;
    }
    .third-face{
        position: relative;
        top: 52vh;
        right: 17vh;
    }
    .send{
        position: relative;
        top: 45vh;
        right: 20vh;
    }
    .dialog{
        position: relative;
        top: 32vh;
        right: 6vh;
    }
    .clock{
        position: relative;
        top: 38vh;
        left: 8vh;
    }
}
/*MODAL CONTAINER*/
.modalContainer {
    display: none; 
    position: fixed; 
    z-index: 1;
    color: black;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 60%;
    height: 60%; 
    overflow: auto; 
    background-color: rgb(87, 84, 84);
    background-color: white;
}
@media screen and (max-width: 768px) {
    .modalContainer{
        width: 100vw;
        height: 100vw;
    }
    .navegacion{
        display: flex;
        flex-direction: inherit;
        justify-content: space-between;
    }
}

.modalContainer .modal-content .modal-content-navegation {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid lightgray;
    border-top: 10px solid #58abb7;
    width: 60%;
}
@media screen and (max-width: 768px) {
    .modal-content a{
        display: flex;
        flex-direction: column;
        padding: 1vh;
        color: black;
        font-size: 5vw;
        text-decoration: none;
    }
    .modal-content span{
        font-size: 7vw;
        position: relative;
        right: -35vw;
        top: -10vw;
    }
    .modal-content input{
        font-size: 3.5vw;
        margin-bottom: 8vw;
    }
}

.modalContainer .close {
    color: #b89090;
}

.modalContainer .close:hover,
.modalContainer .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}